<div class='fb-right'>
  <div class='fb-no-response-fields'><h4>This is your waiver template canvas.</h4></h4><h4>Add elements from the left by doing the following.</h4><ul><li><h5>Click elements on the left.</h5></li><li><h5>Drag and drop elements on the left.</h5></li><li><h5>Change the template name, status, acccess url and exit url by clicking them above.</h5></li><li><h5>Work worry free! Your template auto-saves your work.</h5></li></ul></div>
  <div class='fb-response-fields'></div>
</div>
