<div class='fb-right'>
  <div class='fb-no-response-fields'>
    <h4>Below is your waiver template canvas.</h4>
      <ul>
        <li><h5>The <b>Add Element</b> tab on the left is your palette of waiver form elements.</h5></li>
        <li><h5>Click or drag and drop an element on the left. It will appear below. Your work is autosaved!</h5></li>
        <li><h5>When you select a waiver form element on the canvas the <b>Edit Element</b> tab on the left lets you configure various properties.</h5></li>
        <li><h5>At the very top you can change the template name, status, acccess url and exit url. Just click them.</h5></li>
      </ul>
    <center><h3><i class="fa fa-hand-o-down"></i> Get Started! Drag an element from the left and drop it below this line! <i class="fa fa-hand-o-down"></i></h3></center>
    <hr/>
  </div>
  <div class='fb-response-fields'></div>
</div>
